 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 body, html {

 }

 div.container {
	border: 2px solid gray;
 	width: 360px;
 	margin: 0 auto;
 }

 .completed {
	 color: gray;
	 text-decoration: line-through;
 }